.top{
  position: fixed;
}
.createcard{
  margin-top: 20px;
}
.showCard{
  width: 60%;
  height: 200px;
  border: 1px solid #000;
}
.createBox{
  border-radius: 3px;
  border: 1px solid #eee;
}
.createButt{
  margin-top: 10px;
  width: 95%;
}

/*follow me*/
.social-icon{
    padding-top: 6px;
    font-size: 16px;
    text-align: center;
    width: 32px;
    height: 32px;
    border: 2px solid #777;
    border-radius: 50%;
    color: #777;
    margin: 5px;
    display: block;
}

a.social-icon:hover, a.social-icon:active, a.social-icon:focus{
    text-decoration: none;
    color: #434343;
    border-color: #434343;
}
/*end follow me*/
